[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

SysInfo.txt
*.stackdump


.vs/
*.csproj
*.sln
*.unityproj
*.user
*.userprefs

.idea/
*.sln.iml

Thumbs.db
Desktop.ini

.DS_Store
.DS_Store?

*~

/[Uu]ser[Ss]ettings/

*.apk
*.aab
*.app
*.ipa
*.exe
*.dll
*.log

crashlytics-build.properties

AddressableAssetsData/*/*.bin*
*.addressables

.gradle/
**/gradle/
*.gradle
unityLibrary/
build.gradle

.idea/

[Tt]extMesh Pro/Font Assets/**/*.png
[Tt]extMesh Pro/Font Assets/**/*.asset

ExportedObj/
*.apk
*.unitypackage

*.shadergraph.meta
*.shadergraph
*.cginc
*.hlsl
*.compute
ShaderCache/

*.xcworkspace
*.xcodeproj/
*.xcodeproj/*
*.xcuserdata/

